html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #131010;
    color: #ffffff;
}

.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 100%;
    
}