html {
    font-size: 62.5%;
}

body {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #131010;
    color: #495e57;
}

.header__container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50%;
    margin: 5px 40px;
}

ul {
    list-style-type: none;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 5rem;
    padding: 10px 40px;
}

a {
    text-decoration: none;
    color: #495e57;
}

.main__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "promotion"
                         "info";
    gap: 15px;
}

.promotion {
    grid-area: promotion;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495e57;
    color: #131010;
    font-size: 5rem;
    margin: 5px 40px;
    border-radius: 15px;
}

.promotion p {
    text-align: center;
}

.info {
    grid-area: info;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item1 item2 item3";
    margin: 5px 40px;
    gap: 15px;
}

.info__item {
    height: auto;
    background-color: #495e57;
    color: #131010;
    border-radius: 15px;
    text-align: center;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.info__item img {
    width: 50%;
    margin-top: 5px;
}

.info__item h2 {
    margin-top: 5px;
}