html {
    font-size: 62.5%;
}

body {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #131010;
    color: #495e57;
}

/* header */

.header__container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50%;
    margin: 5px 40px;
}

/* navigation-bar */

ul {
    list-style-type: none;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 5rem;
    padding: 10px 40px;
}

.navigation a {
    text-decoration: none;
    color: #495e57;
}

/* main */

.main__container {
    display: grid;
    grid-template-rows: 0.40fr 1fr;
    /*grid-template-rows: 0.75fr 1fr;*/
    grid-template-areas: "promotion"
                         "info";
    gap: 10px;
    width: 100%;
    /*border: 3px solid green;*/
}

/* promotion */

.promotion {
    grid-area: promotion;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495e57;
    color: #131010;
    font-size: 3rem;
    margin: 5px 10%;
    padding: 0 5px;
    border-radius: 15px;
}

.promotion p {
    text-align: center;
}

/* info */

.info {
    grid-area: info;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "item1" "item2" "item3";
    margin: 5px 10%;
    gap: 15px;
}

.info__item {
    height: auto;
    background-color: #495e57;
    color: #131010;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 2.5rem;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.info__item img {
    width: 50%;
    margin-top: 5px;
}

.info__item h2 {
    margin-top: 5px;
}

.info a {
    text-decoration: none;
    color: #131010;
}

.info .button {
    background-color: #495e57;
    font-size: 2rem;
    font-weight: 600;
}

/* footer */

.footer__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left" "right";
    margin: 5px 0;
}

.left {
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.left img {
    width: 50%;
}

.right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.right p {
    text-align: center;
    font-size: 2rem;
}

h3 {
    margin: 2%;
}

/* Tablet & Desktop */

@media screen and (min-width: 768px) {
    .navigation {
        margin-top: 50px;
    }
    
    .logo {
        width: 35%;
    }
    
    .main__container {
        grid-template-rows: 0.75fr 1fr;
        margin-top: 120px;
    }
    
    .info {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "item1 item2 item3";
        grid-template-rows: auto;
    }

    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
        grid-template-rows: auto;
        margin:  100px 0 5px 0;
        border: 3px solid #495e57;
        border-radius: 15px;
        padding: 25px;
    }

    .left img {
        width: 30%;
    }
}